extends partials/layout.pug

block content
  if errors.column
    h3 Sorry, there was a problem with the #{errors.column} field. Please try again.
  .heading
    h1 Order
  .order-form
    form(method="POST")
      //-No need for error checking
      .from-group(class={"has-error": errors.column ==="names"})
        label.control-label(for="name") Name
        input.form-control#name(
          type="text"
          name="orders_name"
          placeholder="Jane Doe"
          value=orders_name
          required
        )
      .form-group(class={"has-error": errors.column === "email"})
        label.control-label(for="email") Email Address
        input.form-control#email(
          type="email"
          name="orders_email"
          placeholder="you@example.com"
          value=orders_email
          required
        )
      .form-group(class={"has-error": errors.column === "phone"})
        label.control-label(for="phone") Phone Number
        input.form-control#phone(
          type="tel"
          name="orders_phone"
          placeholder="555-124-1234"
          value=orders_phone
          required
        )
      .form-group(class={"has-error": errors.column === "size"})
        label.control-label(for="size") Size
        select.form-control#size(name="orders_size" required)
          option(disabled selected) Select a size:
          each size in sizes
            option(
              value=size.size_inches
              selected=(+body.size === +size.size_inches)
            ) #{size.size_name}: #{size.size_inches}
            
      #toppings
        h5 Toppings
        each topping in toppings
          label= topping.topping_name
            input(
              type="checkbox"
              name="toppings"
              value=topping.topping_name
              selected=(body.toppings && body.toppings.includes(topping.topping_name))
            )
      .order-form_submit
        a.btn.btn-danger.btn-lg(href="/") Cancel
        input.btn.btn-succes.btn-lg(type="submit" value="Order it!")
