extends partials/layout.pug

block content
  .heading
    h1 Register Into The Leaven Bread Temple
    if message
      h2 =  message
  .login-form
    form(method='POST')
      .form-group
        label(for='email') Email Address
        input.form-control#email(
          type='email'
          name='email'
          placeholder='me@gmail.com'
          required
          )
        .form-group
          label(for='confirmation') Password Confirmation 
          input.form-control#password(
            type='passwordl'
            name='confirmation'
            placeholder='***********'
            required
          )
        .contact-form__submit
          a.btn.btn-danger.btn-lg(href='/') Cancel 
          a.btn.btn-succes.btn-lg(type='submit' value='Register')
          
          
          
            
